html,
body {
    background-image: linear-gradient(125deg, #003855, #04597e, #0a7daa, #13a3d8)
}

#heatmap {
    position: absolute;
    top: 0;
    bottom: 10%;
    width: 54%;
    left: 50%;
    margin-left: -27%;
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.3);
}

#MyCharts1 {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 12%;
    left: 1%;

    /*border-left: 2px solid #1da1f2;*/
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

#MyCharts2 {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 55%;
    left: 1%;

    /*border-left: 2px solid #1da1f2;*/
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

#MyCharts3 {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 4.5%;
    right: 1%;

    /*border-left: 2px solid #1da1f2;*/
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

#MyCharts4 {
    position: absolute;
    width: 20%;
    height: 47.3%;
    top: 47.5%;
    right: 1%;

    /*border-left: 2px solid #1da1f2;*/
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.button_switch {
    position: fixed;
    height: 32px;
    width: 850px;
    bottom: 3.5%;
    left: 50%;
    margin-left: -425px;
    cursor: default;
    font-family: Ubuntu, "Microsoft YaHei", serif;
}

.heat_type {
    color: white;
    float: left;
    border-bottom: 2px solid #1da1f2;
    height: 27px;
    line-height: 27px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 3px 3px rgba(29, 161, 242, 0.3);
    margin-left: 1%;
    margin-right: 1%;
    width: 31.3%;

    cursor: pointer;
    animation: ease;
    transition: all 0.5s ease;
}

.heat_type:hover {
    background: rgba(255, 255, 255, 0.2);
}

.heat_type.clicked {
    background: rgba(29, 161, 242, 0.3);
}


/*底部滑块*/
.rangeslider {
    z-index: 999;
    position: absolute;
    bottom: 10%;
    right: 23%;
    width: 30%;
    height: 40px;

    display: flex;

    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
}

.ne-range_thumb,
input.ne-range[type=range]::-webkit-slider-thumb {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 0 /**1px solid #45bd5c*/;
    background-color: #1da1f2;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21);
    -webkit-transition: border-color 0.15s, background-color 0.15s;
    transition: border-color 0.15s, background-color 0.15s;
    cursor: pointer;
    background-clip: padding-box;
    box-sizing: border-box;
}

.ne-range_thumb:active,
input.ne-range {
    height: 10px;
    border-radius: 8px;
    margin: 1em 0 .5em .5em;
    padding: 0;
    cursor: pointer;
    border: 0;
    /**background-color: #45bd5c;*/
    background: -webkit-linear-gradient(#1da1f2, #0088ff) no-repeat #736d6d;
    background-size: 0% 100%;
}

.ne-range_track > span {
    display: block;
    width: 0%;
    height: 100%;
    background-color: #1da1f2;
}

.ne-range_tips {
    position: absolute;
    margin-top: -2em;
    width: 6em;
    text-align: center;
    margin-left: -3em;
}

.ne-range_thumb > .ne-range_tips {
    margin-left: -2.15em;
}

.ne-range_tips > span {
    position: relative;
    display: inline-block;
    padding: 0 3px;
    min-width: 1.2em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    text-align: center;
}

.ne-range_tips > span::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.25em;
    margin-left: -0.3em;
    border: 0.3em solid rgba(0, 0, 0, 0.5);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: 0;
}

/*Real Range*/
input.ne-range[type=range] {
    position: relative;
    outline: 0;
    -webkit-appearance: none !important;
}

input.ne-range[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
}

/*Virtual Range*/
.ne-range {
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 1em;
}

.ne-range_thumb {
    position: absolute;
    top: 0;
    margin-left: -0.85em;
}

.ne-range_thumb.ondrag > .ne-range_tips {
    visibility: visible;
}

#amount {
    margin: 5px;
    width: 100px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: Ubuntu, "Microsoft YaHei", serif;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.3);
}

#amount::-webkit-outer-spin-button,
#amount::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

#buffer_btn {
    z-index: 999;
    bottom: 10%;
    left: 23%;
    position: fixed;
    width: 10%;
    height: 40px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    border: none;
}