html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.mapboxgl-ctrl-logo {
	display: none !important;
}

#control {
	height: 102%;
	width: 23%;
	left: 0;
	top: 0;

	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(3px);
	position: fixed;
	z-index: 1;
}

#view_title {
	height: 70px;
	width: 300px;
	top: 2%;
	left: 1.5%;
	position: fixed;
	text-align: center;
	z-index: 2;
	cursor: default;
}

#shining_bar {
	display: block;
	margin-left: -5%;
	width: 0;
	height: 2px;
	margin-bottom: 0;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #1da1f2, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-size: 400% 400%;

	animation: ease-out;
	transition: all 0.5s;
}

#shining_bar.show {
	width: 113%;
	animation: shining 2s ease infinite;
}

@keyframes shining {
	0% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0 50%
	}
}


.func {
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-left: 3px solid #1da1f2;
	box-shadow: -3px 0 2px rgba(29, 161, 242, 0.3);
	margin-left: 2%;
	display: block;
	margin-top: 3%;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;

	height: 0;
	padding-left: 0;
	width: 0;
	line-height: 105px;

	cursor: default;
	animation: ease-out;
	transition: height 0.5s ease-out, padding-left 0.5s ease-out 0.5s, width 0.5s ease-out 0.5s, line-height 0.5s ease-out 0.8s;
}

.func.show {
	height: 35px;
	padding-left: 5px;
	width: 94%;
	line-height: 35px;
}

.type {
	color: white;
	float: left;
	border-top: 2px solid #1da1f2;
	border-bottom: 0 solid #1da1f2;
	box-sizing: border-box;
	box-shadow: 0 -3px 3px rgba(29, 161, 242, 0.3);
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;

	width: 0;
	margin-right: 33%;
	height: 0;
	text-indent: -150px;
	line-height: 25px;

	cursor: default;
	animation: ease-out;
	transition: background 0.5s ease-out, border-bottom 0.1s, width 0.5s ease-out 0.8s, margin-right 0.5s ease-out 0.8s, height 0.5s ease-out 1.3s, text-indent 0.5s ease-out 1.6s;
}

.type:hover {
	transition: 0.5s ease;
	background: rgba(255, 255, 255, 0.2);
}

.type.clicked {
	border-bottom: 2px solid #1da1f2;
	background: rgba(29, 161, 242, 0.3);
}

.type.show {
	width: 32%;
	margin-right: 1%;
	height: 27px;
	text-indent: 0;
}

.style {
	color: white;
	float: left;
	border-top: 2px solid #1da1f2;
	box-sizing: border-box;
	box-shadow: 0 -3px 3px rgba(29, 161, 242, 0.3);
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;

	width: 0;
	margin-right: 24.75%;
	height: 0;
	text-indent: -150px;
	line-height: 25px;
	border-bottom: 0 solid #1da1f2;

	cursor: default;
	animation: ease-out;
	transition: background 0.5s ease-out, border-bottom 0.1s, width 0.5s ease-out 0.8s, margin-right 0.5s ease-out 0.8s, height 0.5s ease-out 1.3s, text-indent 0.5s ease-out 1.6s;
}

.style:hover {
	transition: 0.5s ease;
	background: rgba(255, 255, 255, 0.2);
}

.style.clicked {
	border-bottom: 2px solid #1da1f2;
	background: rgba(29, 161, 242, 0.3);
}

.style.show {
	width: 23.75%;
	margin-right: 1%;
	height: 27px;
	text-indent: 0;
}

.position {
	color: white;
	float: left;
	border-top: 2px solid #1da1f2;
	box-sizing: border-box;
	box-shadow: 0 -3px 3px rgba(29, 161, 242, 0.3);
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;

	width: 0;
	margin-right: 49.5%;
	height: 0;
	text-indent: -300px;
	line-height: 25px;
	border-bottom: 0 solid #1da1f2;

	cursor: default;
	animation: ease-out;
	transition: width 0.5s ease-out 0.8s, margin-right 0.5s ease-out 0.8s, height 0.5s ease-out 1.3s, text-indent 0.5s ease-out 1.6s;
}

.position.show {
	width: 48.5%;
	margin-right: 1%;
	height: 27px;
	text-indent: 0;
}

.content {
	margin-top: 5%;
	margin-left: 2%;
	height: 32px;
	display: block;
}

#nav {
	width: 200px;
	height: 50px;
	border: 2px solid #1da1f2;
	top: 0;
	left: 30%;
	position: fixed;

}

.flex {
	width: 0;
	height: 30px;
	overflow: hidden;
	line-height: 90px;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(3px);
	position: fixed;
	top: 0;
	left: 23%;
	z-index: 2;

	animation: ease-out;
	transition: width 0.5s ease-out, line-height 0.5s ease-out 0.3s;
}

.flex.show {
	width: 500px;
	line-height: 30px;
}

.flex ul {
	display: flex;
	padding: 0;
	margin: 0;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.flex ul li {
	flex: 1;
	list-style: none;
	text-align: center;
	position: relative;
	font-size: 15px;
	font-weight: bold;
	transition: 0.5s ease;
	cursor: default;
	user-select: none;
	color: white;
}

.flex ul li:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #1da1f2;
}

.flex ul li:hover:nth-of-type(1)~.bar {
	left: 0;
}

.flex ul li:hover:nth-of-type(2)~.bar {
	left: 25%;
}

.flex ul li:hover:nth-of-type(3)~.bar {
	left: 50%;
}

.flex ul li:hover:nth-of-type(4)~.bar {
	left: 75%;
}

.flex ul .bar {
	width: 25%;
	background-color: #1da1f2;
	box-shadow: 0 5px 5px rgba(29, 161, 242, 0.3);
	height: 1px;
	position: absolute;
	left: -25%;
	bottom: 0;
	transition: 0.3s ease;
}

.flex ul .bar.show1 {
	left: 0;
}

.flex ul .bar.show2 {
	left: 25%;
}

.flex ul .bar.show3 {
	left: 50%;
}

.flex ul .bar.show4 {
	left: 75%;
}

#panel_bg1 {
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
	width: 40%;
	height: 0;
	backdrop-filter: blur(3px);
	border-bottom: 30px solid rgba(0, 0, 0, 0.5);
	border-right: 0;
	border-left: 30px solid transparent;
	border-top: 0;
}

#panel_bg2 {
	position: fixed;
	z-index: 2;
	bottom: 30px;
	right: 0;
	width: 20%;
	height: 0;
	backdrop-filter: blur(3px);
	border-bottom: 30px solid rgba(0, 0, 0, 0.5);
	/*border-bottom: 30px solid rgba(255, 255, 255, 0.7);*/
	border-right: 0;
	border-left: 30px solid transparent;
	border-top: 0;
}

#info2 {
	position: fixed;
	z-index: 2;
	bottom: 27px;
	right: 0;
	width: 20%;
	height: 30px;
	text-align: right;

	font-size: 15px;
	color: white;
	padding-right: 10px;
}

#info1 {
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
	width: 40%;
	height: 27px;
	text-align: right;

	font-size: 15px;
	color: white;
	padding-right: 10px;
}

.user_date {
	text-align: right;
	float: right;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	padding-right: 5px;
	box-sizing: border-box;
	border-right: 2px solid #1da1f2;
	overflow: hidden;

	text-indent: 110px;
	width: 0;

	cursor: default;
	animation: ease-out;
	transition: all 0.5s ease-out;
}

.user_date.show1 {
	text-indent: 0;
	width: 110px;
}

.user_date.show2 {
	text-indent: 0;
	width: 200px;
}

.info_item {
	text-align: center;
	float: left;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.3);
	border-left: 2px solid #1da1f2;
	margin-left: 15px;
	overflow: hidden;

	text-indent: -180px;
	width: 0;

	cursor: default;
	animation: ease-out;
	transition: width 0.5s ease-out, text-indent 0.5s ease-out 0.5s;
}

.info_item.show {
	text-indent: 0;
	width: 90px;
}


#item_c1 {
	text-align: center;
	float: left;
	height: 25px;
	font-weight: bold;
	box-sizing: border-box;
	border-bottom: 2px solid #1da1f2;
	overflow: hidden;

	line-height: 75px;
	width: 0;
	margin-left: 37.5px;

	cursor: default;
	animation: ease-out;
	transition: width 0.5s ease-out 0.5s, margin-left 0.5s ease-out 0.5s, line-height 0.5s ease-out 1s;
}

#item_c1.show {
	line-height: 25px;
	width: 70px;
	margin-left: 5px;
}

#item_c2 {
	text-align: center;
	float: left;
	height: 25px;
	font-weight: bold;
	box-sizing: border-box;
	border-bottom: 2px solid #1da1f2;
	overflow: hidden;

	line-height: 75px;
	width: 0;
	margin-left: 32.5px;

	cursor: default;
	animation: ease-out;
	transition: width 0.5s ease-out 0.5s, margin-left 0.5s ease-out 0.5s, line-height 0.5s ease-out 1s;
}

#item_c2.show {
	line-height: 25px;
	width: 60px;
	margin-left: 5px;
}

#item_c3 {
	text-align: center;
	float: left;
	height: 25px;
	font-weight: bold;
	box-sizing: border-box;
	border-bottom: 2px solid #1da1f2;
	overflow: hidden;

	line-height: 75px;
	width: 0;
	margin-left: 67.5px;

	cursor: default;
	animation: ease-out;
	transition: width 0.5s ease-out 0.5s, margin-left 0.5s ease-out 0.5s, line-height 0.5s ease-out 1s;
}

#item_c3.show {
	line-height: 25px;
	width: 130px;
	margin-left: 5px;
}

.in_text {
	color: white;
	float: left;
	border-top: 2px solid #1da1f2;
	box-sizing: border-box;
	box-shadow: 0 -3px 3px rgba(29, 161, 242, 0.3);
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	border-left: none;
	border-right: none;
	width: 0;
	margin-right: 49.5%;
	height: 0;
	text-indent: -300px;
	line-height: 25px;
	border-bottom: 0 solid #1da1f2;
	
	cursor: default;
	animation: ease-out;
	transition: width 0.5s ease-out 0.8s, margin-right 0.5s ease-out 0.8s, height 0.5s ease-out 1.3s, text-indent 0.5s ease-out 1.6s;
}

.in_text.show {
	width: 98%;
	height: 27px;
	text-indent: 0;
}

#zoom {
    position: fixed;
    z-index: 5;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    backdrop-filter: blur(3px);
    overflow: hidden;

    top: 0;
    margin-top: 1%;
    width: 10%;
    text-indent: 0;
    line-height: 30px;
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.3);

    height: 2px;
    right: -11%;
    color: white;
    padding-left: 30px;
    border-left: 50px solid #1da1f2;
    background-color: rgba(255, 255, 255, 0.3);

    cursor: default;
    animation: ease-out;
    transition: right 0.5s ease-out, color 0.5s ease, border-left 0.5s ease, background-color 0.5s ease, height 0.5s ease 0.5s;
}

#zoom.show {
    height: 30px;
    right: -6%;
    color: white;
    padding-left: 30px;
    border-left: 50px solid #1da1f2;
    background-color: rgba(255, 255, 255, 0.3);
}

#zoom.show:hover {
    right: 0;
    color: #1da1f2;
    padding-left: 10px;
    border-left: 3px solid #1da1f2;
    background-color: rgba(0, 0, 0, 0.7);
}

#detail {
    position: fixed;
    z-index: 5;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    backdrop-filter: blur(3px);
    overflow: hidden;

    top: 5%;
    margin-top: 1%;
    width: 10%;
    text-indent: 0;
    line-height: 30px;
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.3);

    height: 2px;
    right: -11%;
    color: white;
    padding-left: 30px;
    border-left: 50px solid #1da1f2;
    background-color: rgba(255, 255, 255, 0.3);

    cursor: default;
    animation: ease-out;
    transition: right 0.5s ease-out, color 0.5s ease, border-left 0.5s ease, background-color 0.5s ease, height 0.5s ease 0.5s;
}

#detail.show {
    height: 30px;
    right: -5%;
    color: white;
    padding-left: 30px;
    border-left: 50px solid #1da1f2;
    background-color: rgba(255, 255, 255, 0.3);
}

#detail.show:hover {
    right: 0;
    color: #1da1f2;
    padding-left: 10px;
    border-left: 3px solid #1da1f2;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#modal.show {
    display: block;
}

#detail_map {
    position: fixed;
    left: 50%;
    top: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-left: 1px solid #1da1f2;
    border-right: 3px solid #1da1f2;
    overflow: hidden;

    width: 0;
    height: 0;
    z-index: -2;
    margin-left: 190px;
    margin-top: 0;

    cursor: default;
    animation: ease-out;
    transition: height 0.5s ease, width 0.5s ease 0.5s, margin-left 0.5s ease 0.5s, margin-top 0.5s ease;
}

#detail_map.show {
    width: 700px;
    height: 600px;
    z-index: 10;
    margin-left: -510px;
    margin-top: -300px;
}

#detail_info {
    position: fixed;
    left: 50%;
    top: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-top: 3px solid #1da1f2;
    border-bottom: 1px solid #1da1f2;
    overflow: hidden;
    color: white;

    width: 0;
    height: 0;
    z-index: -2;
    margin-left: 360px;
    margin-top: 0;

    cursor: default;
    animation: ease-out;
    transition: width 0.5s ease, height 0.5s ease 0.5s, margin-left 0.5s ease, margin-top 0.5s ease 0.5s;
}

#detail_info.show {
    width: 300px;
    height: 600px;
    z-index: 10;
    margin-left: 210px;
    margin-top: -300px;
}

#close {
    height: 0;
    left: 50%;
    top: 50%;
    border-bottom: 30px solid rgba(229, 63, 63, 0.7);
    margin-top: -330px;
    position: fixed;

    z-index: -2;
    width: 0;
    border-left: 0 solid transparent;
    margin-left: 510px;

    cursor: pointer;
    animation: ease-out;
    transition: all 0.5s ease 1s, z-index 0s, border-bottom-color 0.3s;
}

#close.show {
    z-index: 9;
    width: 100px;
    border-left: 30px solid transparent;
    margin-left: 380px;
}

#close:hover {
    border-bottom-color: #1da1f2;
}

#d_map {
    width: 697px;
    height: 600px;
}
